h3{
    text-align: center;
    padding-top: 20px;
}

/* .form-control{
    width: 311px!important;
} */


.marginButton{
    margin-bottom: 5px;
}

.form-group{
    width: 400px;
}

.container {
    text-align: -webkit-center;
}

.erros{
    border:2px solid indianred !important;
}

input:valid{
    border:2px solid rgb(96, 221, 152) ;
}

input:invalid{
    border:2px solid indianred !important;
}