body {
    margin: 0 auto;
}

#logo{
text-align: center;
}


.text-center .img-responsive {
margin: 0 auto;
}

.divNavBar{
    /* border: 1px solid red; */
    background-color: #C4C4C4;
}

ul{
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.itemTeste{
    padding-right: 10px;
}

a{
    color: black!important;
}

a:hover{
    text-decoration: none;
}

/* .swiper {
    width: 1050px;
    height: 471px;
} */

.swiper {
    width: 85%;
    height: 471px;
  }

  .imagenSwiper1{
    width: 100%;
    height: 100%;
    background: url('../img/swiper1.0.jpg');
    background-size: cover;
}

  .imagenSwiper2{
      width: 100%;
      height: 100%;
      background: url('../img/Paisagens-Wallpaper-4.jpg');
      background-size: cover;
  }

  .imagenSwiper3{
    width: 100%;
    height: 100%;
    background: url('../img/swiper-3.jpg');
    background-size: cover;
}


.swiper{
    margin-top: 5px;
}

#titulo{
    text-align: center;
    margin-top: 8px;
}

#paragafhInitial{
    text-align: center;
    text-indent: 3em;
}



.tamanhoImg{
    width: 239px;
    height: 239px;
}

.card-deck{
    /* width: 90%; */
    padding-left: 45px;
    padding-right: 40px;
    padding-bottom: 30px;
    margin-right: 0!important;
}
  
/* .anuncioTest{
    text-align: center;
    display: block;
} */

/* .testeAnuncio{
    display: none;
} */

.btn{
    padding: 0!important;
    width: 2.5em;
    height: 2.5em;
    border-radius: 15px!important;
}

.formatButton{
    text-align: right;
    padding-right: 5px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5em;
    
    /* padding-bottom: 5px; */
}

footer{
    /* border: 2px solid red; */
    height: 200px;
    background-color: #C4C4C4;
}

.rodaPe{
    text-align: center;
    padding-top: 10px;
}
